header ul 
{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}
header ul li
{
	float:left;
	
}
header ul li a
{
	display:block;
	padding:10px 8px 8px 8px;
	width:150px;
	color:white;
}

header ul li:hover
{
	background-color:gray;
}

#headerKanan
{
	float:right;
}

#formInsert
{
	width:310px;
	height:250px;
	border: 1px solid black;
	display:none;
	position:absolute;
	left:38%;
	background-color:white;
}

#contentInsert
{
	width:95%;
	height:95%;
	margin:10px;
}

#contentInsert input
{
	float:right;
}

#ulInsertKiri li
{
	margin-top:3px;
}

.active1
{
	background-color:gray;
}